---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Kontakt - Arne Natskår">
  <Header slot="header" />

  <h2 class="text-xl font-semibold mb-4">Kontakt meg gjerne</h2>
  <div class="space-y-2">
    <p>Epost: arnejobb@protonmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/arne-natskår" class="underline text-blue-600 hover:text-blue-800">linkedin.com/in/arne-natskår</a></p>
  </div>
</Layout>
